<p>
    <mat-toolbar color="primary">
        <img style="height: 50px;" src="../../../assets/Images/BizarrasNews_logo.png" />
        <span style="margin-left: 5px;">Bizarras</span>
        <span class="spacer"></span>
        <button mat-raised-button color="secondary" aria-label="Icon button with a home icon" (click)="onMainClick()">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-raised-button class="toolbarbutton" aria-label="Button for navigating to all news page" (click)="onFilterClick()">
            <mat-icon>library_books</mat-icon>
        </button>
    </mat-toolbar>
</p>