.mat-card-style{
    text-align: center;
    height: fit-content;
    margin-top: 20px;
  }
  .hola{
    display: flex;
    justify-content: center;
  }
  .form-field{
    background-color: rgb(67, 66, 66);
  }