<html>
<p style="text-align-last: center;">NOTICIAS DEL MES</p>
<p>
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    Medio pepino, por favor
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    10/07/2021
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        Joven acude a la ambulancia en un festival al perder mitad pepino dentro de su vagina.
                    </p>       
                </mat-card-content>
                <p> Jose O. </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                       
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</p>

<p style="text-align-last: center;">NOTICIAS DEL MES PASADO</p>

<p>
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                   
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="Card1">
                <mat-card-header>
                  <mat-card-title style= "font-size: 40px;">
                    
                  </mat-card-title>
                  <mat-card-date style="font-size: 20px;">
                    
                  </mat-card-date>
                </mat-card-header>

                <mat-card-content style="font-size: 30px;">
                    <p>
                        
                    </p>       
                </mat-card-content>
                <p>  </p> 
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</p>
</html>