@use '@angular/material' as mat;


@include mat.core();

$my-palette: (
  50: #e1f5fd,
  100: #b4e7f8,
  200: #85d8f3,
  300: #57c8ea,
  400: #3bbde3,
  500: #31b2da,
  600: #2aa2c7,
  700: #218eac,
  800: #197b93,
  900: #0a5967,
  contrast: (
    50: #f7e9e8,
    100: #f8ccbf,
    200: #f4ab96,
    300: #f18b6d,
    400: #ef734e,
    500: #ed5c32,
    600: #e3562f,
    700: #d5502a,
    800: #c74a27,
    900: #ac3f21,
  )
);

$my-primary: mat.define-palette($my-palette, 700);
$my-accent: mat.define-palette($my-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));


@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);